<div class="container">
  <h1>Create a new Bookmark for the list: <%= @list.name %></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, collection: Movie.order(:title), prompt: "Choose a movie" %>
    <%= f.submit "Submit new Bookmark", class: "button-new-bookmark-form " %>
  <% end %>
  <%= link_to 'Back to the List', list_path(@list), class: "ancor-new-bookmark-form" %>
  <%= link_to ' Back all the lists', root_path, class: "ancor-new-bookmark-form" %>
</div>
